language: php

php:
  - 7.1
  - 7.2
  - 7.3

env:
  global:
    - SETUP=stable

matrix:
  include:
    - php: 7.2
      env: SETUP=lowest
    - php: 7.3
      env: SETUP=lowest
  fast_finish: true

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - phpenv config-rm xdebug.ini || true
  - travis_retry composer self-update

install:
  - if [[ $SETUP = 'stable' ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-stable --no-suggest; fi
  - if [[ $SETUP = 'lowest' ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-lowest --prefer-stable --no-suggest; fi

script: vendor/bin/phpunit